//$$ SFUIText
@font-face {
  font-family: 'SFUIText';
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/sfuitext-bold-webfont.woff2') format('woff2'),
    url('../fonts/sfuitext-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SFUIText';
  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/sfuitext-semibold-webfont.woff2') format('woff2'),
    url('../fonts/sfuitext-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SFUIText';
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/sfuitext-medium-webfont.woff2') format('woff2'),
    url('../fonts/sfuitext-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SFUIText';
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/sfuitext-light-webfont.woff2') format('woff2'),
    url('../fonts/sfuitext-light-webfont.woff') format('woff');
}

//$$ Roboto

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
    url('../fonts/roboto-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
    url('../fonts/roboto-medium-webfont.woff') format('woff');
}

//$$ Open Sans

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
    url('../fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
}