@font-face {
  font-family: 'SFUIText';
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/sfuitext-bold-webfont.woff2') format('woff2'),
    url('../fonts/sfuitext-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SFUIText';
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/sfuitext-medium-webfont.woff2') format('woff2'),
    url('../fonts/sfuitext-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SFUIText';
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/sfuitext-light-webfont.woff2') format('woff2'),
    url('../fonts/sfuitext-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
    url('../fonts/roboto-light-webfont.woff') format('woff');
}
