$font-common: 'SFUIText', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-minor: 'Open Sans', sans-serif;

$color-style: #91aa59;
$color-background: #fff;
$color-bread-crumbs: #000;

$background-size: cover;
$background-position: 0% 0%;

$tablet-vers: 60px;
$mobile-vers: 60px;
