.about {
    margin-top: 108px;
  background-image: url(../images/about/background1366-729.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 0px 100px 0px 100px;
  height: 729px;
  
  background-color: lightgrey;
}

//$$ bread-crumbs (common)
.about__bread-crumbs {
    position: absolute;
    right: 0;
    top: 214px;
  }

  //$$ content-box



  