.header {
    background-color: rgb(255, 255, 255);
    
        &__container {
        background-color: rgb(218, 218, 218);
        width: 1366px;
        height: 786px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
    }
}

//$$background circles

.header__circle1 {
    background-color: $color-style;
    position: absolute;
    left: -786px;
    top: -674px;
    width: 1560px;
    height: 1460px;
    z-index: 1;
    border-radius:50%;   
}

.header__circle2 {
    background-color: $color-style;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    left: 757px;
    top: 177px;
    width: 455px;
    height: 455px;
    z-index: 4;
}

.header__circle3 {
    border-radius: 50%;
    background-color:  $color-style;
    opacity: 0.6;
    position: absolute;
    left: 1200px;
    top: 118px;
    width: 59px;
    height: 59px;
    z-index: 5;
}

.header__circle4 {
    border-width: 8px;
  border-color: $color-style;
  border-style: solid;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  left: 1331px;
  top: 20px;
  width: 40px;
  height: 40px;
  z-index: 6;
}

.header__pilates-women {
    background-image: url( ../images/header/foto-girl.png );
    position: absolute;
    left: 372px;
    top: 31px;
    width: 994px;
    height: 776px;
    z-index: 7;
}

//$$ page-index

.