.header {
  background-image: url(../../images/header/background1366-786.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 786px;
  position: relative;
  padding: 28px 100px 0px 100px;
}

//$$ bread-crumbs

.header__bread-crumbs {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.bread-crumbs {
  display: flex;
  flex-direction: column;
  height: 206px;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;

  &__number {
    font-size: 16px;
    font-family: $font-common;
    color: $color-bread-crumbs;
    opacity: 0.5;
    font-weight: 700;
  }

  &__line {
    background-color: $color-bread-crumbs;
    width: 2px;
    height: 60px;
    opacity: 0.5;
  }

  &__circle {
    border-radius: 50%;
    background-color: $color-bread-crumbs;
    width: 5px;
    height: 5px;
    opacity: 0.5;
  }

  &__circle_circle_active {
    border-radius: 50%;
    background-color: $color-bread-crumbs;
    width: 5px;
    height: 5px;
    opacity: 1;
  }
}

//$$ top-line

.header__top-line {
  margin-bottom: 124px;
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    cursor: pointer;
  }

  &__burger-menu {
    background-image: url(../../images/header/burger-menu.png);
    width: 23px;
    height: 16px;
    margin-left: 26px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .phone {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    font-family: $font-common;
    letter-spacing: 0.01em;
    transition: color 0.5s linear;

    &:hover {
      color: $color-style;
      transition: color 0.2s linear;
    }
  }
}

//$$ content-header

.header__content-intro {
  width: 400px;
}

.content-intro {
  display: flex;
  flex-direction: column;
  justify-content: start;

  &__title {
    color: #fff;
    font-family: $font-secondary;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-weight: 300;
    font-size: 58px;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  &__paragraph {
    color: #fff;
    font-size: 17px;
    font-family: $font-common;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin-bottom: 52px;
  }

  &__button {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 16px 30px;
    max-width: 248px;
    border-radius: 24px;
    font-family: $font-common;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    position: relative;
  }

  &__button::after {
    content: url(../../images/header/arrow.png);
    position: absolute;
    top: 50%;
    transform: translate(16%, -40%);
  }
}
