.timetable {
  position: relative;
  padding: 0;
  background-color: $color-background;

  //$$ bread-crumbs (common)
  &__bread-crumbs {
    position: absolute;
    right: 0;
    top: 314px;
  }
}

//$$ title

.content-box3 {
  padding: 24px 100px 116px 100px;

  &__title {
    color: rgba(0, 0, 0, 0.871);
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 48px;
    line-height: 0.5;
    margin-bottom: 70px;
  }

  &__title::before {
    content: '';
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.871);
    width: 37px;
    height: 2px;
    transform: translateY(-16px);
    margin-right: 18px;
  }
}

//$$ card

.holder {
  display: flex;
  justify-content: space-between;

  .cards {
    width: 32.18%;
    border-radius: 4px;

    &_foncolor_opst50 {
      background-color: rgba(145, 170, 89, 0.5);
      position: relative;
    }

    &_foncolor_opst70 {
      background-color: rgba(145, 170, 89, 0.7);
      position: relative;
    }

    &_foncolor_opst90 {
      background-color: rgba(145, 170, 89, 0.9);
      position: relative;
    }
  }

  .numberfon {
    font-size: 210px;
    font-family: 'ProximaNova', sans-serif;
    line-height: 1.2;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.102);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
  }
}

//$$ text intro cards

.list {
  list-style: none;
  padding-left: 0;
}
.cards {
  display: flex;
  &__inner {
    padding: 186px 22px 94px 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  &__subtitle {
    font-family: $font-secondary;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__skill {
    font-family: $font-secondary;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
  }

  &__price {
    font-family: $font-common;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 28px;
  }

  .list__items {
    font-family: $font-common;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 14px;
  }

  .list {
    margin-bottom: 26px;
  }
}

.button-arrow {
  position: relative;
  width: 100%;

  &::after {
    content: url(../images/timetable/arrow.png);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-right: 30px;
  }

  &:hover::after {
    content: url(../images/timetable/arrow_hover.png);
  }

  &__content {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px 34px;
    border-radius: 24px;
    font-family: $font-common;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    width: 100%;
    cursor: pointer;

    &:hover {
      border-color: #91aa59;
      color: #91aa59;
      transition: color 0.2s linear, border-color 0.2s linear;
    }
  }
}

// $$ Tablet version

@media (max-width: $tablet-vers) {
  .timetable {
    &__bread-crumbs {
      display: none;
    }
  }

  .content-box3 {
    padding: 24px 64px 116px 64px;

    &__title {
      font-size: 24px;
      margin-bottom: 50px;
      font-weight: 500;
    }

    &__title::before {
      transform: translateY(-8px);
    }
  }
  .holder {
    .cards {
      width: 32.18%;
    }

    .numberfon {
      font-size: 114px;
      top: 16px;
    }
  }

  .cards {
    &__inner {
      padding: 100px 22px 40px 22px;
    }

    &__subtitle {
      font-size: 12px;
      line-height: 1;
    }

    &__skill {
      font-size: 18px;
      letter-spacing: 0.1em;
      margin-bottom: 14px;
    }

    &__price {
      font-size: 16px;
      margin-bottom: 17px;
    }

    .list__items {
      font-size: 16px;
      margin-bottom: 14px;
      letter-spacing: 0.008em;

      .space {
        display: none;
      }
    }

    .list {
      margin-bottom: 14px;
    }
  }

  .button-arrow {
    width: 84%;

    &::after {
      content: url(../images/timetable/Arrow-min.png);

      top: 50%;
      transform: translate(-24%, -45%);
    }

    &:hover::after {
      content: url(../images/timetable/Arrow-min_hover.png);
    }

    &__content {
      font-size: 14px;
      padding: 6px 8px;
    }
  }
}

//$$ mobile version

@media (max-width: $mobile-vers) {
  .content-box3 {
    padding: 20px 10px 0px 15px;

    &__title {
      font-size: 18px;
      margin-bottom: 50px;
      letter-spacing: -0.02em;
      margin-bottom: 30px;
    }

    &__title::before {
      transform: translateY(-5px);
      width: 17px;
      height: 1px;
      margin-right: 8px;
    }
  }

  .holder {
    flex-direction: column;
    align-items: center;
    margin-bottom: 7px;

    .cards {
      width: 84%;
      margin-bottom: 22px;
    }
  }
}
