.timetable {
  position: relative;
  padding: 0;
  height: 833px;
  background-color: rgb(240, 243, 242);

  //$$ bread-crumbs (common)
  &__bread-crumbs {
    position: absolute;
    right: 0;
    top: 314px;
  }
}

//$$ content-box3

.content-box3 {
  padding: 24px 100px 116px 100px;

  &__title {
    color: rgba(0, 0, 0, 0.871);
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 48px;
    line-height: 0.5;
    margin-bottom: 70px;
  }

  &__title::before {
    content: '';
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.871);
    width: 37px;
    height: 2px;
    transform: translateY(-15px);
    margin-right: 18px;
  }
}

//$$ card

.holder {
  display: flex;
  justify-content: space-between;

  .cards {
    width: 32.18%;
    height: 591px;
    border-radius: 4px;

    &_foncolor_opst50 {
      background-color: rgba(145, 170, 89, 0.5);
      position: relative;
    }

    &_foncolor_opst70 {
      background-color: rgba(145, 170, 89, 0.7);
      position: relative;
    }

    &_foncolor_opst90 {
      background-color: rgba(145, 170, 89, 0.9);
      position: relative;
    }
  }

  .numberfon {
    font-size: 210px;
    font-family: 'ProximaNova', sans-serif;
    line-height: 1.2;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.102);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
  }
}

//$$ text intro cards

.list {
  list-style: none;
  padding-left: 0;
}
.cards {

  display: flex;
  &__inner {
    padding-top: 186px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  &__subtitle {
    font-family: $font-secondary;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__skill {
    font-family: $font-secondary;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
  }

  &__price {
    font-family: $font-common;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 28px;
  }

  .list__items {
    font-family: $font-common;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 14px;
  }

  .list {
    margin-bottom: 26px;
  }

  &__button {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 16px 62px;
    max-width: 236px;
    border-radius: 24px;
    font-family: $font-common;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    position: relative;
    text-align: center;
    
    &:hover {
      border-color: #bdcc9b;
      color: #bdcc9b;
      transition: color 0.2s linear, border-color 0.2s linear;
    }

    &::after {
      content: url(../images/header/arrow.png);
      position: absolute;
      transform: translate(36%, -0%);
    }

    &:hover::after {
      content: url(../images/header/arrow_hover.png);
    }
  }
}
